:host {

    img {
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        -webkit-user-drag: none;
        -ms-user-select: none;
    }

    fa-icon {
        font-size: 40px;
    }
    
    .go-back {
        min-width: 60px;
        margin: 90px 0 0 20px;
    }

    .reasons-list {
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        -webkit-user-drag: none;
        -ms-user-select: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding: 0 20px;
        margin-bottom: 20px;

        @media (min-width: 768px){
            grid-template-columns: 1fr 1fr 1fr;
        }


        .reason {
            position: relative;
            cursor: pointer;

            &.selected {
                transform: scale(1.03);
            }

            &.selected:after {
                transition-duration: 0.2s;
                top: -1px;
                right: -1px;
                left: -1px;
                bottom: -1px;
                content: '';
                position: absolute;
                transform: scale(1);
                border: 3px solid;
                border-radius: 5px;
            }
        }

        .my-reason {
            position: relative;
            &:hover {
                transform: scale(1.00);
            }
        }
    }

    .next {
        margin: 0 20px 20px auto;
        display: block;
    }

    .add-button {
        border-radius: 5px;
        background-color: black;
        border: 3px solid black;
        color: white;
        height: 20px;
        min-width: 30px;
        min-height: 30px;
        margin-top: 10px;
        font-family: 'Montserrat', Arial;
        font-weight: bold;
        font-size: 18px;
        transition: background-color 0.2s, opacity 0.3;
        opacity: 1;
      
        &:hover {
          background-color: white;
          color: black;
          cursor: pointer;
          transition-duration: 0.3s;
        }
      
        &:disabled {
          transition: background-color 0.2s, opacity 0.3;
          opacity: 0.3;
          background-color: black;
          color: white;
          cursor: initial;
        }
      }

    .reason-input{
        width: 80%;
        transition-duration: 0.2s;
        margin: 10px 5px 5px 5px;
        border: solid 2px black;
        border-radius: 5pt;
        height: 30px;
        padding: 5px 10px 5px 10px;

        &:hover {
            transform: scale(1.03);
            transition-duration: 0.2s;
        }
    }

    .selected {
        transition-duration: 0.2s;
        outline-offset: solid 3px;
    }
}