
<h1>
    About Us
</h1>
<br>
<br>

<h2 id="question">
    What Is This App For?
</h2>
<p id="answer">
    This app was designed to be used by those that have difficulty processing their own emotions and want to share what they are going through.
</p>

<h2 id="question">
    Who Are We?
</h2>
<p id="answer">
    Our dev team is composed of Christophe Couturier, 2nd year Software Engineering at Polytechnique Montreal, Jaafar Kaoussarani, 3rd year Software Engineering at Polytechnique Montreal, William Xie, 2nd year Computer Science at Concordia University and Tommy Josépovic, 2nd year Software Engineering at Concordia University.
</p>

<h2 id="question">
    Special Thanks
</h2>
<p id="answer">
    We like to thank our dear friend Natacha Rouillon for her idea on helping children with special needs, and for giving her input on certain designs choices.
</p>