<header>
  <div class="top-bar">
    <a class="logo" routerLink="/home" title="Home">Emotion App</a>
    <button type="button" class="hamburger" (click)="toggleNav()">
      <img src="./assets/hamburger.png" />
    </button>
  </div>
  <div class="navigation" [class.show]="showNavigation">
    <a routerLink="/home" (click)="hideNav()" class="homeIcon"><fa-icon [icon]="homeIcon"></fa-icon></a>
    <div *ngIf="!(auth.user | async)">
        <a routerLink="/sign-up" (click)="hideNav()">Sign Up</a>
        <a routerLink="/login" (click)="hideNav()">Log In</a>
    </div>
    <a routerLink="/how-do-you-feel" (click)="hideNav()">My Feelings</a>
    <a routerLink="/data" (click)="hideNav()">Feeling Diary</a>
    <a routerLink="/recognize-emotions" (click)="hideNav()">Recognize Emotion</a>
    <a routerLink="/about-faq" (click)="hideNav()">FAQ</a>
    <div *ngIf="(auth.user | async)">
      <a (click)="hideNav(); logout()">Logout</a>
    </div>
  </div>
</header>

<div class="modal" [class.show]="showNavigation" (click)="hideNav()"></div>