:host {
  .emotions-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;

    @media (min-width: 768px){
      grid-template-columns: 1fr 1fr 1fr;
    }

    .emotion {

      p {
        background: none;
        font-size: 18px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }

      &.joy {
        background-color: rgb(160, 228, 147);
      }

      &.anger {
        background-color: rgb(230, 113, 113);
      }

      &.sadness {
        background-color: rgb(49, 64, 196);
      }

      &.disgust {
        background-color: rgb(128, 77, 128);
      }

      &.fear {
        background-color: rgb(235, 145, 61);
      }

      &.surprise {
        background-color: rgb(236, 222, 142);
      }
    }
  }

    .next {
        width: 60px;
        background-color: black;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        margin-left: auto;
        transition-duration: 0.2s;
        border: 1px solid;

        &:hover {
            background-color: white;
            color: black;
        }
    }

    .selected {
        transition-duration: 0.2s;
        outline-offset: solid 3px;
    }
}