:host {
  .emotions-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    @media (min-width: 768px){
      grid-template-columns: 1fr 1fr 1fr;
    }

    .emotion {

      p {
        background: none;
      }

      &.joy {
        background-color: rgb(160, 228, 147);
      }

      &.anger {
        background-color: rgb(230, 113, 113);
      }

      &.sadness {
        background-color: rgb(49, 64, 196);
      }

      &.disgust {
        background-color: rgb(128, 77, 128);
      }

      &.fear {
        background-color: rgb(235, 145, 61);
      }

      &.surprise {
        background-color: rgb(236, 222, 142);
      }
    }
  }
}