/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
  font-family: 'Montserrat', Arial;
  margin: 0;
}

img {
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

button {
  background-color: black;
  border: 3px solid black;
  border-radius: 5px;
  color: white;
  min-width: 150px;
  min-height: 50px;
  padding: 0 30px;
  font-family: 'Montserrat', Arial;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.2s, opacity 0.3;
  opacity: 1;

  &:hover {
    background-color: rgb(53, 53, 53);
    cursor: pointer;
  }

  &:disabled {
    transition: background-color 0.2s, opacity 0.3;
    opacity: 0.3;
    background-color: black;
    cursor: initial;
  }
}

.card {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px; 
  overflow: hidden;
  text-align: center;
  text-decoration: none;

  &:hover {
    transform: scale(1.01);
  }

  img {
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  p {
    margin: 0;
    padding: 20px 0;
    font-weight: 700;
    background-color: gray;
    color: white;
  }
}