<button *ngIf="!showCharts" (click)="initCharts()">Show Charts</button>

<div *ngIf = "showCharts">
   <google-chart #chartD [title]="titleD" [type]="typeD" [data]="dataD" [columnNames]="columnNamesD"
      [options]="optionsD" [width]="widthD" [height]="heightD">
   </google-chart>

   <google-chart #chartW [title]="titleW" [type]="typeW" [data]="dataW" [columnNames]="columnNamesW"
      [options]="optionsW" [width]="widthW" [height]="heightW">
   </google-chart>

   <google-chart #chartM [title]="titleM" [type]="typeM" [data]="dataM" [columnNames]="columnNamesM"
      [options]="optionsM" [width]="widthM" [height]="heightM">
   </google-chart>
</div>

<p>{{errorMessage}}</p>